* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: #4f7af0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 30px;
  color: #fff;
}

.container .social span {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
}
